{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block title %}Artists index{% endblock %}

{% block content %}
<div class="row content">
    <h3>Artists</h3>

    <div class="col-12">
        <table id="data-table-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                {% set picture = searchArtist(artist.idSpotify, auth) %}
                <td><img src="{{ picture.images[0].url }}" class="image-artist-list"></td>
                <td>{{ artist.name }}</td>
                <td>
                    <a href="{{ artist.externalUrls }}" target="_blank">Show in Spotify</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
